<h1>PawPalsへようこそ！</h1>
<p>このサイトはペットと一緒に暮らしている方のためのコミュニティサイトです❣️<br>
みんなで情報交換や画像の共有でコミュニケーションをとって盛り上げていきましょう⭐️<br>
<br>
※当サイトの写真はアプリ作成者のペットのロコくんとノアちゃんです💕</p>

<h2>グループ機能</h2>
<p>ユーザーは新しいグループを作成し、そのグループ内でメンバーを追加してコミュニケーションを楽しむことができます。作成したグループ内では簡単なチャット機能を利用してメンバーとリアルタイムでやり取りが可能です。</p>

<h2>投稿機能</h2>
<p>ユーザーは自由に投稿を作成し、ペットに関する情報や写真を共有することができます。投稿にはコメント機能があり、他のユーザーと交流を深めることができます。</p>

<h2>ペット管理機能</h2>
<p>ユーザーは自分のペットの情報を管理することができます。ペットの名前、種類、年齢などの情報を登録・編集し、他のユーザーとシェアすることができます。</p>

<%= image_tag('603969E7-4315-4C40-AF07-E9844BF15052_1_105_c.jpeg', alt: 'PawPals Overview', class: 'overview-image') %>
