<h1>PawPalsへようこそ！</h1>
<p>このサイトはペットと一緒に暮らしている方のためのコミュニティサイトです❣️<br>
みんなで情報交換や画像の共有でコミュニケーションをとって盛り上げていきましょう⭐️<br>
<br>
※当サイトの写真はアプリ作成者のペットのロコくんとノアちゃんです💕</p>

<h2>グループ機能</h2>
<p>ユーザーは新しいグループを作成し、そのグループ内でメンバーを追加してコミュニケーションを楽しむことができます。作成したグループ内では簡単なチャット機能を利用してメンバーとリアルタイムでやり取りが可能です。</p>

<h2>メンバー選択方法</h2>
<p>グループ作成・編集画面でメンバーを選択する際には、以下の手順で複数のメンバーを選択できます：</p>
<ul>
  <li><strong>Windowsの場合</strong>: Ctrlキーを押しながらクリック</li>
  <li><strong>Macの場合</strong>: Commandキーを押しながらクリック</li>
</ul>
<p>上記の方法で複数のメンバーとグループを作り、コミュニケーションを楽しみましょう！</p>

<%= image_tag('603969E7-4315-4C40-AF07-E9844BF15052_1_105_c.jpeg', alt: 'PawPals Overview', class: 'overview-image') %>
