<h1>PawPalsへようこそ！</h1>
<p>このサイトはペットと一緒に暮らしている方のためのコミュニティサイトです❣️<br>
みんなで情報交換や画像の共有でコミュニケーションをとって盛り上げていきましょう⭐️<br>
<br>
※当サイトの写真はアプリ作成者のペットのロコくんとノアちゃんです💕</p>

<%= image_tag('603969E7-4315-4C40-AF07-E9844BF15052_1_105_c.jpeg', alt: 'PawPals Overview', class: 'overview-image') %>
