<h1>健康記録一覧</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @health_records.each do |record| %>
      <tr>
        <td><%= record.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to '詳細', pet_health_record_path(@pet, record), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新しい健康記録を追加', new_pet_health_record_path(@pet), class: 'btn btn-primary' %>
<%= link_to 'ペット一覧に戻る', pets_path, class: 'btn btn-primary' %>